// Stroke
$stroke-color: #000;
$stroke-width: 6px;

// Sky
$color-sky: #aee0f4;

// Water
$color-water: #91d4f7; // ← denne MÅ legges til

// Icon sizes
$size-sun:          450px;
$size-cloud-large:  120px;
$size-cloud-small:   80px;
$size-bottle:       80px;
$size-figure:       150px;
$size-sun-face:     120px;
$size-waterline:   1920px;
$size-beach_01:     900px;
$size-boy01:        350px;
$size-boy02:        350px;
$size-fish:         100px;
$size-motionlines01:  100px;

$size-girl01: 350px;
$size-machine01: 500px;