// Stroke
$stroke-color: #000;
$stroke-width: 6px;

// Sky
$color-sky: #aee0f4;

// Water
$color-water: #91d4f7; // ← denne MÅ legges til

// Icon sizes
$size-sun:          450px;
$size-cloud-large:  120px;
$size-cloud-small:   80px;
$size-bottle:       80px;
$size-figure:       150px;
$size-sun-face:     120px;
$size-waterline:   1920px;
$size-beach_01:     900px;
$size-boy01:        350px;
$size-boy02:        350px;
$size-fish:         100px;
$size-motionlines01:  100px;

$size-girl01: 350px;
$size-machine01: 500px;

// SCSS variables scene 3-4-7
$color-white: #ffffff;
$color-black: #000000;
$color-gray-800: #333333;
$color-gray-600: #666666;
$color-blue-light: #64b5f6;
$color-blue-dark: #1565c0;
$color-yellow: #ffdd00;
$color-sand: #f9e4b7;

$font-family: "Poppins", sans-serif;

$container-padding-sm: 1rem;
$container-padding-md: 1.5rem;
$container-padding-lg: 2rem;

